*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --background-default:#F5F4F0;
  --border-primary:#D9D9D9;
   --text-primary:#1B1B1B;
  --text-secondary:#333333;
  --text-tertiary:#696969;
  --text-headline:#E1624F;
  --accent-blue:#0C51A7;
  --accent-orange:#E95E10;
  --accent-pink: #E5245E;
  --accent-purple:#591B98;
  --font-family: "Open sans", sans-serif;
  --text-title: bold 36px/150% var(--font-family);
  --text-h2: bold 32px/125% var(--font-family);
  --text-h3: bold 28px/125% var(--font-family);
  --text-hedline: bold 16px/125% var(--font-family);
  --text-paragraph: 16px/150% var(--font-family);
  --text-subtitle: italic 16px/180% var(--font-family);  

  max-width: 100%;
}

body {
  color: var(--text-secondary);
  background-color: var(--background-default);
  
  margin: 40px 88px 80px 40px;
  
}

#container {
  
  margin: 88px 88px 80px 137px;
  color: var(--text-secondary, #333);
  color: var(--text-secondary, #333);
  text-align: center;
  /* subtitle */
  font: var(--text-subtitle);
  font-weight: 400;
  line-height: normal;  
}

#container p {
  color: var(--text-secondary, #333);
  font: var(--text-paragraph);
  line-height: normal;
  
  left: 80%;
}

#container img {
  border-radius: 28px;
  flex-direction: column;
}

.title-list p {
  margin-bottom: 20px;
}

.card-travel li h2 {
  color: var(--text-primary, #1B1B1B);
  font: var(--text-h2);
  
  font-weight: 700;
  line-height: normal;
}

.card-travel p {
  margin-top: 10px;
  margin-bottom: 48px;
}

.list li {
  margin-top: 20px;
  text-align: left;
}

.card-travel span {
  color: var(--accent-blue, #0C51A7);
  font: var(--text-paragraph);
  font-weight: 700;
  line-height: normal;
}

footer {
  width: 43.0rem; 
  height: 9.4rem; 
  padding: 1.6rem; 
  left: 50.0rem;
  
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  bottom: 1;
  
}

footer img {
  vertical-align: middle;
}
 



